@import url("~/platform.css");

Page {
    background-color: white;
    font-size: 17;
}
TextField {
    margin: 10;
    padding: 10;
}
Button {
    margin: 10;
    padding: 10;
}

.green {
    background-color: green;
    color: white;
}

.grey {
    color: #848484;
}

.transparent-bg {
    background-color: rgba(1, 0, 0, 0.0);
    border-color:rgba(1, 0, 0, 0.0);
    border-width: 1;
}

.fa {
    font-family: "FontAwesome";
}

.fa-lg {
    font-size: 20;
}

.fa-bold {
    font-weight: bold;
}